body{
    padding: 0;
    margin: 0;
    font-family:Helvetica;
}
#header{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 500;
    width: 100%;
    height: 80px;
    background-image: url(images/wood-bg.png);
    background-repeat: repeat-x;
}

#header img{
    display: block;
    margin: auto;
    height: 100%;
    padding-top: 0px;
}

/*======================TOP-TABS======================*/

#tabs-top{
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: black;
    
}
#tabs-top a{
    float: left;
    display: block;
    width: 33%;
    height: 35px;
    font-family: serif;
    font-weight: 700;
    color: orangered;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    
}

/*======================MAIN-HOME=======================*/

#main-home{
    margin-top: 120px;
    
}

/*======================BOTTOM-TABS======================*/

#tabs-bottom{
   position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: black;
}

#tabs-bottom a{
    float: left;
    display: block;
    width: 50%;
    height: 35px;
    font-family: serif;
    font-weight: 700;
    color: orangered;
    text-align: center;
    text-decoration: none;
    padding-top: 12px;
    
}

/*======================MAIN=====================*/

#main{
    margin-top: 119px;
    background: url(images/map-blur.png);
    background-repeat: repeat-y;
    
}


#content{
    padding-top: 1px;
    padding-bottom: 30px;
}


/*======================INFO-BOX=====================*/


a.info-box{
    text-decoration: none;
    background: rgba(255,255,255,.8);
    width: 90%;
    height: 90px;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 1px;

}

.info-box img{
    height: 70px;
    margin: 10px;
    float: left;
}

.info-box h3{
    
    text-align: left;
    padding: 0;
    margin-bottom: 0;
    width: 90%;
    color: darkgreen;

    
}

.info-box p{
    margin: 0;
    padding: 0;
    width: 90%;
    color: #131313;
}

.info-box img.right{
    float: right;
    margin-top: 25px;
    height: 40px;
}


/*======================INFO-BOX-FULL=====================*/

#info-box-full{
    
    width: 90%;
    display: block;
    margin: auto;
    margin-top: 12px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8)    
    
}
#info-box-full img{
    width: 100%;
    margin: auto;
    
        
    
}

#info-box-full h2{
    font-family:sans-serif;
    width: 90%;
    color: darkgreen;
    font-weight: 900;
    padding: 0px;
    margin-bottom: 2px;
    text-decoration: none;
    text-align: center;
    
}
#info-box-full p{
    width: 90%;
    margin: auto;
    text-align: left;
    padding: 0;
    color: lime;
    font-family: sans-serif;
    font-weight: 600;
}

#info-box-full table{
    width: 90%;
    border-color: darkgreen;
    border-width: 2px;
    border-style: solid;
    margin: auto;
    border-collapse: collapse;
    
}

#info-box-full th{
    text-align: center;
    color: darkgreen;
    font-family: sans-serif;
    font-weight: 600;
    margin: auto;
    
}

#info-box-full td{
    text-align: center;
    color: lime;
    font-family: sans-serif;
    font-weight: 600;
    margin: auto;
}

#info-box-full h4{
    font-family:sans-serif;
    width: 90%;
    color: darkgreen;
    font-weight: 900;
    padding: 10px;
    margin-bottom: 2px;
    text-decoration: none;
    text-align: center;
}

#info-box-full .gallery{
    margin: auto;
    width:75%;
    
}
#info-box-full .gallery p{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 2px;
    padding-bottom:30px;
    color: darkgreen;
    font-family: sans-serif;
    font-weight: 600; 
}


/*======================WEATHER=====================*/

img.info-box-weather-icon{
    height: 80px;
    width: 80px! important;
    margin: 10px;
    float: left;   
}
img.info-box-weather-icon-2{
    height: 30px;
    width: 30px! important;
    margin: 10px;
    float: left;
}

h1{
   font-family:sans-serif;
    width: 90%;
    color: darkgreen;
    font-weight: 900;
    padding: 0px;
    margin-bottom: 10px;
    text-decoration: none;
    text-align: center;
}
h5{
    font-size: 65px;
    font-weight: 200;
    color: darkgreen;
    padding: 0;
    margin: auto;
}

h3{
    font-family: sans-serif;
    color: darkgreen;
    font-weight: 800;
    text-align: center;
}

table{
    width: 100%;
    margin: auto
    
    
}

td{
    border-top: 1px solid darkgreen;
    margin: auto;
    font-family: sans-serif;
    color: black;
    font-weight: 900;
}


p{
    margin: auto;
    font-family: sans-serif;
    color: black;
    font-weight: 700;  
}



/*======================FORM=====================*/

input{
    width: 100%;
    height: 25px;
    margin: 12px 0;
    border: 3px solid darkgreen;
    padding: 2px 0;
    color: lime;
    
}

textarea{
    width: 100%;
    height: 65px;
    margin: 12px 0;
    border: 3px solid darkgreen;
    padding: 8px 0;
    color: lime;
    
}
.button{
    display: block;
    width: 100%;
    background-color: white;
    border: 3px solid darkgreen;
    text-decoration: none;
    text-align: center;
    color: lime;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0;
    padding: 8px 0;
    
    
}


.return{
    width: 100%;
    text-align: left;
    color: darkgreen;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0;
    padding: 8px 0;
    
}